<%- partial('_partial/loading') %>

<header id="header" class="site-header clearfix">

  <a class="square logo clearfix" href="<%- url_for(config.url) %>">
    <!-- 
      Replace with your own size name, for example:
      <span class="b">A</span>
      <span class="w">B</span>
      <span class="b">C</span>
     -->
     <span class="b">A</span>
     <span class="b">N</span>
     <span class="b">D</span>
     <span class="b">R</span>
     <span class="b">O</span>
     <span class="b">I</span>
     <span class="b">D</span>
     <span class="w">D</span>
     <span class="w">E</span>
     <span class="w">V</span>
  </a>
  <a class="me square site-nav-switch clearfix">
    <span class="b">
    	<span class="icon icon-menu"></span>
    </span>
  </a>

</header>
